Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: "Mohammed Arif" <mohd.arif@wipro.com>
Depends: jarwrapper, java2-runtime | java2-runtime-headless
